[submodule "WAM"]
	path = WAM
	url = https://github.com/NOAA-SWPC/WAM.git
[submodule "IPE"]
	path = IPE
	url = https://github.com/NOAA-SWPC/IPE.git
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/NOAA-SWPC/NEMS.git
	branch = feature/lua_update
[submodule "SWIO"]
	path = SWIO
	url = https://github.com/NOAA-SWPC/SWIO.git
	branch = master
[submodule "DATAPOLL"]
	path = DATAPOLL
	url = https://github.com/NOAA-SWPC/DATAPOLL.git
