[submodule "NEMS"]
	path = NEMS
	url = https://github.com/rmontuoro/NEMS.git
[submodule "WAM"]
	path = WAM
	url = https://github.com/SWPC-IPE/WAM.git
[submodule "IPE"]
	path = IPE
	url = https://github.com/SWPC-IPE/IPE.git
