#############################################
####  SWIO Run-Time Configuration File  #####
#############################################
#
#  Imported fields
#
import_fields::
    O_plus_density
    H_plus_density
    He_plus_density
    N_plus_density
    NO_plus_density
    O2_plus_density
    N2_plus_density
    ion_temperature
    electron_temperature
    eastward_exb_velocity
    northward_exb_velocity
    upward_exb_velocity
::

output_fields::
    O_plus_density
    H_plus_density
    He_plus_density
    N_plus_density
    NO_plus_density
    O2_plus_density
    N2_plus_density
    ion_temperature
    electron_temperature
    eastward_exb_velocity
    northward_exb_velocity
    upward_exb_velocity
::

#
#  Computed fields
#
#  Use SWIO internal calculator to compute additional
#  output fields from input ones, according to the syntax
#  below:
#
#  <function_name> <input_field1> ... <input_fieldN> [<input_parm1> ... <input_parmL>] <output_field1> <output_units1> ... <output_fieldM> <output_unitsM> <scaling_factor>
#
#  Available functions are:
#  - column_integrate
#  - column_max_point
#  - column_max_region
#
#  Note that <scaling_factor> is optional as it may or may not be used depending on the function
#
#compute_fields::
#    column_interpolate  eastward_exb_velocity    height    300000.    u_exb_300  "m s-1"
#    column_interpolate  northward_exb_velocity   height    300000.    v_exb_300  "m s-1"
#    column_interpolate  upward_exb_velocity      height    300000.    w_exb_300  "m s-1"
#    column_interpolate  eastward_exb_velocity    height    840000.    u_exb_840  "m s-1"
#    column_interpolate  northward_exb_velocity   height    840000.    v_exb_840  "m s-1"
#    column_interpolate  upward_exb_velocity      height    840000.    w_exb_840  "m s-1"
#::

#
# Output file format.
#
# Choose from:
# - hdf5
# - pnetcdf or parallel-netcdf
#
output_format: pnetcdf
#
# Output datatype
#
# Supported datatypes for output variables are:
# - integer: write variables as integers
# - float  : write variables as real, single precision
# - double : write variables as real, double precision
# - native : write variables using their original type
#
output_datatype: float
#
# Output file prefix.
#
# Output file names are created as:
#   <prefix>.<datetime>.<suffix>
# where:
#   <prefix>   : is the string provided via
#                output_file_prefix keyword
#   <datetime> : inported field timestamp,
#                formatted as: YYYYMMDD_hhmmss
#   <suffix>   : determined from output format:
#                'hd5' for hdf5, 'nc' for pnetcdf
#
output_file_prefix: SWIO/wrs.t00z.ipe10
#
# Output metadata.
#
# Metadata can be added to output files as global
# string attributes created from <key> <value>
# row entries in the table below. If <value> is
# missing, it will be set to "N/A".
#
output_metadata::
  init_date     $SWIO_IDATE
  start_date    $SWIO_SDATE
  end_date      $SWIO_EDATE
  fcst_date     __swio_field_timestamp__
  run_type      $CDUMP
  model         ipe
  cadence       10
::
#
# Output grid type.
# 
# Supported types are:
# - latlon: 2D/3D regular lat/lon spherical grid
# - none  : native (imported) grid/mesh
#
output_grid_type: latlon
#
# The following keywords are read only if grid
# type is 'latlon'
#
# Output grid size.
#
# Provides the lat/lon grid resolution as
#   #longitudes #latitudes [#levels]
# If #levels is missing, a 2D lat/lon grid will be built
#
# If #levels > 0, the minimum and maximum value of the
# vertical coordinate (km) will be read via the 
# 'output_grid_level_range' keyword below.
#
# IF #levels <=0, the grid's vertical levels are read
# from the 'output_grid_level_values' table (km)
#
#output_grid_size: 90 91 183
output_grid_size: 90 91 0
#
# Minimin and maximum values of vertical coordinate (km)
# Used if #levels > 0
#
output_grid_level_range: 90. 1000.
#
# List of vertical levels (km)
# Used if #levels <= 0
#
output_grid_level_values::
90.
95.
100.
105.
111.
116.
122.
129.
136.
143.
150.
158.
167.
175.
185.
194.
204.
215.
227.
238.
251.
264.
278.
293.
308.
324.
341.
359.
378.
398.
419.
441.
464.
489.
515.
542.
570.
600.
632.
665.
700.
737.
776.
816.
859.
905.
952.
1002.
1055.
1169.
1295.
1435.
1590.
1762.
1952.
2163.
2397.
2655.
::
#
# If true, this flag transforms the vertical coordinate (v),
# assumed in km, to heights (h) relative to the average
# Earth's radius (R=6,371.2 km), accordina to the formula:
#   h = 1 + v/R
#
output_grid_level_relative: false
