#!/bin/bash

### NCAR CHEYENNE SETUP ###

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-UCUB0019}
export QUEUE=${QUEUE:-regular}

## initialize modules
modules_nems=`readlink -f ../../NEMS/src/conf/modules.nems`
. /etc/profile.d/modules.sh
if [ -r "${modules_nems}" ] ; then
  module purge
  module use ${modules_nems%/*}
  module load ${modules_nems##*/}
else
  echo "WARNING: unable to read module file: ${modules_nems} - check if model was built correctly"
fi

## computational stuff
export TPN=${TPN:-36}
export MPICH_FAST_MEMCPY=${MPICH_FAST_MEMCPY:-'ENABLE'}
export MPI_BUFS_PER_PROC=${MPI_BUFS_PER_PROC:-2048}
export MPI_BUFS_PER_HOST=${MPI_BUFS_PER_HOST:-2048}
export MKL_NUM_THREADS=${MKL_NUM_THREADS:-1}

## system directories
export STMP=${STMP:-/gpfs/fs1/work/$USER/scrub/stmp}
export RUNDIR=${RUNDIR:-$STMP/$JOBNAME}
export PTMP=${PTMP:-/gpfs/fs1/work/$USER/scrub/ptmp}
export ROTDIR=${ROTDIR:-$PTMP/$JOBNAME}

## executables/scripts
export SIGHDR=${SIGHDR:-/gpfs/fs1/work/sishen/save/gfs/q3fy17/global_shared.v14.1.0/exec/global_sighdr}
export SFCHDR=${SFCHDR:-/gpfs/fs1/work/sishen/save/gfs/q3fy17/global_shared.v14.1.0/exec/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/gpfs/fs1/work/akubaryk/save/nems}
if [ -z "${NCAR_ROOT_MPT}" ] ; then
  export APRUN=${APRUN:-`which mpirun`}
else
  export APRUN=${APRUN:-`which mpiexec_mpt`}
fi
export NDATE=${NDATE:-/gpfs/fs1/work/sishen/parallel_script/save/nwprod/util/exec/ndate}
export MDATE=${MDATE:-/gpfs/fs1/work/akubaryk/save/util/exec/mdate}

## model-specific input directories
export DATADIR=${DATADIR:-/gpfs/fs1/work/akubaryk/noscrub/data}
export WAMINDIR=${WAMINDIR:-/gpfs/fs1/work/akubaryk/noscrub/wamindir}
export PARAMETER_PATH=${PARAMETER_PATH:-/gpfs/fs1/work/akubaryk/noscrub/WAM-IPE_INPUT_PARAMETERS} # more time-varying F10.7, Kp, auroral power, etc.

## output directories
export PLOT_DIR=${PLOT_DIR:-/scratch3/NCEPDEV/swpc/noscrub/wam-ipe_regression-plots} # doesn't exist

## PBS stuff
export SCHEDULER_SUB=${SCHEDULER_SUB:-'qsub'}
export SCHEDULER=${SCHEDULER:-'#PBS'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -N ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -A ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -l walltime=${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}/'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -j oe'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -l select=${NODES}:ncpus=${TASKPN}:mpiprocs=${TASKPN}'}
export SUBFLAG7=${SUBFLAG7:-'$SCHEDULER -q ${QUEUE}'}
export SUBFLAG8=${SUBFLAG8:-'$SCHEDULER -W umask=022'}
