#!/bin/bash

export SIGI=${SIGI:-$ROTDIR/${SIGOSUF}anl.$CDUMP$CDATE}
export SFCI=${SFCI:-$ROTDIR/${SFCOSUF}anl.$CDUMP$CDATE}
export SIGR1=${SIGR1:-$RESTARTDIR/sigr1}
export SIGR2=${SIGR2:-$RESTARTDIR/sigr2}
export GRDR1=${GRDR1:-$RESTARTDIR/grdr1}
export GRDR2=${GRDR2:-$RESTARTDIR/grdr2}
export  SFCR=${SFCR:-$RESTARTDIR/sfcr}
export FORT1051=${FORT1051:-$RESTARTDIR/fort.1051} # some restart file from weiyu, no idea what this is
export RSTR=${RSTR:-$RESTARTDIR/wam_ipe_rst_rd}
