#!/bin/bash

export SIGI=${SIGI:-$ROTDIR/${SIGOSUF}anl.$CDUMP$CDATE}
export SFCI=${SFCI:-$ROTDIR/${SFCOSUF}anl.$CDUMP$CDATE}
export SIGR1=${SIGR1:-$RESTARTDIR/sigr1}
export SIGR2=${SIGR2:-$RESTARTDIR/sigr2}
export GRDR1=${GRDR1:-$RESTARTDIR/grdr1}
export GRDR2=${GRDR2:-$RESTARTDIR/grdr2}
export  SFCR=${SFCR:-$RESTARTDIR/sfcr}
export FORT1051=${FORT1051:-$RESTARTDIR/fort.1051} # some restart file from weiyu, no idea what this is
export RSTR=${RSTR:-$RESTARTDIR/wam_ipe_rst_rd}

if [ $DOIAU = "YES" ] ; then
    export CIPEDATE=$($MDATE -$((3*60)) ${CDATE}00)
    export SFCI=$ROTDIR/sfca03.$CDATE
    export SIGI=$ROTDIR/sigf03.$($NDATE -6 $CDATE)
    export IAU_FG=$ROTDIR/sigf06.$($NDATE -6 $CDATE)
    export IAU_ANL=$ROTDIR/siganl.$CDATE

    export FHINI=3
    export FHROT=3
    export FHMAX=$((FHMAX+6))
    IAUVARS="iau=.true.,iaufiles_fg='${IAU_FG}',iaufiles_anl='${IAU_ANL}',iaufhrs=6,iau_delthrs=6,"
fi
