#!/bin/bash
export WALLCLOCK=${WALLCLOCK:-30} # minutes
export NPROCGSM=${NPROCGSM:-${NPROCWAM:-32}}   # number of procs for ATM component
export TASKS=${TASKS:-${NPROCGSM:-${NPROCIPE:-TPN}}}  # how many tasks to launch $APRUN with
export NTHREADS=${NTHREADS:-1}
if [ $IPE = .true. ] ; then
	export NPROCIPE=${NPROCIPE:-16} # number of procs for IPE
	export NPROCMED=${NPROCMED:-8}  # number of procs for MEDIATOR
	if [ $NEMS = .false. ] ; then
		export TASKS=$NPROCIPE
	else
		export TASKS=$((NPROCGSM+NPROCIPE+NPROCMED))
	fi
fi
export PE1=${PE1:-$TASKS}

export TASKPN=$((TPN/NTHREADS))
export NODES=`echo "( $TASKS + $TASKPN - 1 ) / $TASKPN" | bc`

if [ $NTHREADS -gt 1 ] ; then
	export FCST_LAUNCHER=${FCST_LAUNCHER:-"$APRUN -np $TASKS -nt $NTHREADS"}
else
	export FCST_LAUNCHER=${FCST_LAUNCHER:-"$APRUN -n $TASKS"}
fi

export MP_STDOUTMODE=${MP_STDOUTMODE:-ordered}
export MP_LABELIO=${MP_LABELIO:-yes}
export MP_SHARED_MEMORY=${MP_SHARED_MEMORY:-yes}
export MEMORY_AFFINITY=${MEMORY_AFFINITY:-MCM}

# not too sure what the following options do, but they are defaults in our para_configs
export QUILTING=${QUILTING:-.false.}         # asynchronous history file writing, not sure why this is .false.
export WRT_GROUP=${WRT_GROUP:-2}             # PEs for writing history files
export WRTPE_PER_GROUP=${WRTPE_PER_GROUP:-3} # ??? goes into atm_namelist.rc
