#!/bin/bash

export IDEA=.true. # just in case the user sets this to false thinking it's for standalone

export atm_petlist_bounds=${atm_petlist_bounds:-"0 $((NPROCGSM-1))"} # should be set from wam.config
export ipm_petlist_bounds=${ipm_petlist_bounds:-"$((NPROCGSM)) $((NPROCGSM+NPROCIPE-1))"}
export io_petlist_bounds=${io_petlist_bounds:-${atm_petlist_bounds}}
export med_petlist_bounds=${med_petlist_bounds:-"$((NPROCGSM+NPROCIPE)) $((PE1-1))"}
export med_model=${med_model:-swpc} # use latest mediator by default
export coupling_interval_fast_sec=${coupling_interval_fast_sec:-${DELTIM}.0}
export coupling_interval_slow_sec=${coupling_interval_slow_sec:-${DELTIM_IPE}.0}
export coupling_interval_sec=${coupling_interval_sec:-${DELTIM}.0}


#export med_petlist_bounds=${med_petlist_bounds:-"$((NPROCGSM)) $((NPROCGSM+NPROCMED-1))"}
#export ipm_petlist_bounds=${ipm_petlist_bounds:-"$((NPROCGSM+NPROCMED)) $((PE1-1))"}
