#!/bin/bash

export DATAPOLL=${DATAPOLL:-"NO"}
if [[ $DATAPOLL = "YES" ]] ; then
  data_poll_interval_min=${data_poll_interval_min:-15}
  data_poll_dir=${data_poll_dir:-$DATA} # where to look for lockfiles
  data_poll_interval=${data_poll_interval:-60} # polling interval
  data_poll_interval_sec=${data_poll_interval_sec:-$((60*$data_poll_interval_min))} # DATAPOLL cycle interval
  data_poll_max=${data_poll_max:-$((60*3))} # max tries
fi
