#!/bin/bash

### NCAR CHEYENNE SETUP ###

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-UCUB0098}
export QUEUE=${QUEUE:-main}

## initialize modules
module purge
module use -a $BASEDIR/modulefiles/$BUILD_TARGET
module load wam-ipe
module list

## computational stuff
export TPN=${TPN:-128}
export MPICH_FAST_MEMCPY=${MPICH_FAST_MEMCPY:-'ENABLE'}
export MPI_BUFS_PER_PROC=${MPI_BUFS_PER_PROC:-2048}
export MPI_BUFS_PER_HOST=${MPI_BUFS_PER_HOST:-2048}
export MKL_NUM_THREADS=${MKL_NUM_THREADS:-1}

## system directories
export STMP=${STMP:-/glade/derecho/scratch/$USER/stmp}
export RUNDIR=${RUNDIR:-$STMP/$JOBNAME}
export PTMP=${PTMP:-/glade/derecho/scratch/$USER/ptmp}
export ROTDIR=${ROTDIR:-$PTMP/$JOBNAME}

## executables/scripts
export SIGHDR=${SIGHDR:-/glade/work/akubaryk/wam-ipe_utils/exec/global_sighdr}
export SFCHDR=${SFCHDR:-/glade/work/akubaryk/wam-ipe_utils/exec/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/glade/work/akubaryk/util/exec/nemsio_get}
export APRUN=${APRUN:-"$(which mpiexec)"}

export NDATE=${NDATE:-$(which ndate)}
export MDATE=${MDATE:-$(which mdate)}

## model-specific input directories
export DATADIR=${DATADIR:-/glade/work/akubaryk/noscrub/data}
export WAMINDIR=${WAMINDIR:-/glade/work/akubaryk/noscrub/wamindir}
export PARAMETER_PATH=${PARAMETER_PATH:-/glade/work/akubaryk/noscrub/WAM-IPE_INPUT_PARAMETERS} # more time-varying F10.7, Kp, auroral power, etc.

## output directories
export PLOT_DIR=${PLOT_DIR:-/scratch3/NCEPDEV/swpc/noscrub/wam-ipe_regression-plots} # doesn't exist

## PBS stuff
export SCHEDULER_SUB=${SCHEDULER_SUB:-'qsub'}
export SCHEDULER=${SCHEDULER:-'#PBS'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -N ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -A ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -l walltime=${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}/'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -j oe'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -l select=${NODES}:ncpus=${TPN}:mpiprocs=${TASKS}'}
export SUBFLAG7=${SUBFLAG7:-'$SCHEDULER -q ${QUEUE}'}
export SUBFLAG8=${SUBFLAG8:-'$SCHEDULER -W umask=022'}
