#!/bin/bash
### NEMS SETTINGS ###
case "${MODE:-WAM-IPE}" in
  WAM-IPE)       export IDEA=${IDEA:-.true.} ; export NEMS=${NEMS:-.true.} ;
                 export WAM_IPE_COUPLING=${WAM_IPE_COUPLING:-.true.} ; export IPE=${IPE:-.true.}
                 ;;
  standaloneIPE) export IDEA=${IDEA:-.true.} ; export NEMS=${NEMS:-.false.};
                 export WAM_IPE_COUPLING=${WAM_IPE_COUPLING:-.false.}; export IPE=${IPE:-.true.}
                 ;;
  standaloneWAM) export IDEA=${IDEA:-.true.} ; export NEMS=${NEMS:-.true.} ;
                 export WAM_IPE_COUPLING=${WAM_IPE_COUPLING:-.false.}; export IPE=${IPE:-.false.}
                 ;;
  standaloneGSM) export IDEA=${IDEA:-.false.}; export NEMS=${NEMS:-.true.} ;
                 export WAM_IPE_COUPLING=${WAM_IPE_COUPLING:-.false.}; export IPE=${IPE:-.false.}
                 ;;
  operational)   export IDEA=${IDEA:-.true.} ; export NEMS=${NEMS:-.true.} ;
                 export WAM_IPE_COUPLING=${WAM_IPE_COUPLING:-.true.} ; export IPE=${IPE:-.true.} ;
                 ;;
  *)             echo "Invalid MODE: $MODE" ; exit 1
                 ;;
esac
## settings that are not the same as general NEMS settings in exglobal_fcst script
export JCAP=${JCAP:-62}
export LATB=${LATB:-94}
export LONB=${LONB:-192}
export FHMAX=${FHMAX:-1}
export FHZER=${FHZER:-$FHRES}
export FHDFI=${FHDFI:-0}
export FTSFS=${FTSFS:-0.0}
export FAISS=${FAISS:-0.0}
export DOIAU=${DOIAU:-NO}
export FHOUT_HF=${FHOUT_HF:-$FHOUT}

## I/O
export NEMSIO_IN=${NEMSIO_IN:-.false.}
export NEMSIO_OUT=${NEMSIO_OUT:-.false.}
if [[ $NEMSIO_IN = .true. ]] ; then
	export SIGIO_IN=${SIGIO_IN:-.false.}
	export SIGOSUF=${SIGOSUF:-gfn}
	export SFCOSUF=${SFCOSUF:-sfn}
	export NSTOSUF=${NSTOSUF:-nsn}
	export FLXOSUF=${FLXOSUF:-fln}
	export SEARCH=*nanl* # used in checks.sh
else
	export SIGIO_IN=${SIGIO_IN:-.true.}
	export SIGOSUF=${SIGOSUF:-sig}
	export SFCOSUF=${SFCOSUF:-sfc}
	export NSTOSUF=${NSTOSUF:-nst}
	export FLXOSUF=${FLXOSUF:-flx}
	export SEARCH=s*anl* # used in checks.sh
fi
if [[ $NEMSIO_OUT = .true. ]] ; then
	export SIGIO_OUT=${SIGIO_OUT:-.false.}
else
	export SIGIO_OUT=${SIGIO_OUT:-.true.}
fi
export SUFOUT=${SUFOUT:-".$CDATE"}

## filename settings used for checks.sh
export ATM=${SIGOSUF}anl
export SFC=${SFCOSUF}anl

## global folders: output, model, fix
export ROTDIR=${ROTDIR:-$PTMP/$USER/$JOBNAME}              # where model I/O files are stored
export COMOUT=${COMOUT:-$ROTDIR}
export RUNDIR=${RUNDIR:-$STMP/$USER/$JOBNAME}              # where the model will actually be run from, most input files linked in, most output files linked out
export RESTARTDIR=${RESTARTDIR:-$ROTDIR/restart_directory} # folder containing restart files (restart.config)
export BASE_NEMS=${BASE_NEMS:-$BASEDIR/NEMS}               # $BASEDIR/NEMS
export EXECGLOBAL=${EXECGLOBAL:-$BASE_NEMS/exe}            # NEMS executable directory
export FIXGLOBAL=${FIXGLOBAL:-$DATADIR/GSM/fix_am}         # global fix files
export IPEEXEC=${IPEEXEC:-$BASEDIR/IPE/install/bin}             # standalone IPE executable directory

## scripts
export EXGLOBALFCSTSH=${EXGLOBALFCSTSH:-$COMPSETDIR/exglobal/exglobal_fcst_nems.sh}

## NCP and NLN, copy executable and linking executable
export NCP=${NCP:-/bin/cp -p}  # keep permissions
export NLN=${NLN:-/bin/ln -sf} # soft links

## everything below is set in exglobal_fcst_nems.sh, but we need them here for the checks script
export FHCYC=${FHCYC:-0}
export FHSWR=${FHSWR:-3600}
export FHLWR=${FHLWR:-3600}
export MTNRSL=${MTNRSL:-$JCAP}
export MTNRSLUF=${MTNRSLUF:-$MTNRSL}

# export CO2CON=${CO2CON:-${FIXGLOBAL}/global_co2con.l${LEVS}.f77} # CO2CON doesn't exist for l150 and never has?

export MTNVAR=${MTNVAR:-${FIXGLOBAL}/global_mtnvar.t$MTNRSL.f77}
export O3FORC=${O3FORC:-${FIXGLOBAL}/global_o3prdlos.f77}
export O3CLIM=${O3CLIM:-${FIXGLOBAL}/global_o3clim.txt}
export OROGRAPHY=${OROGRAPHY:-${FIXGLOBAL}/global_orography.t$MTNRSL.grb}
export OROGRAPHY_UF=${OROGRAPHY_UF:-${FIXGLOBAL}/global_orography_uf.t$MTNRSLUF.$LONB.$LATB.grb}
export LONSPERLAT=${LONSPERLAT:-${FIXGLOBAL}/global_lonsperlat.t$JCAP.$LONB.$LATB.txt}
export LONSPERLAR=${LONSPERLAR:-$LONSPERLAT}
