#!/bin/bash

### THEIA SETUP ###

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-swpc}
export QUEUE=${QUEUE:-debug}

## initialize modules
. /apps/lmod/lmod/init/bash
module load intel impi

## computational stuff
export TPN=${TPN:-40}
export MPICH_FAST_MEMCPY=${MPICH_FAST_MEMCPY:-'ENABLE'}
export MPI_BUFS_PER_PROC=${MPI_BUFS_PER_PROC:-2048}
export MPI_BUFS_PER_HOST=${MPI_BUFS_PER_HOST:-2048}
export MKL_NUM_THREADS=${MKL_NUM_THREADS:-1}

## system directories
export STMP=${STMP:-/scratch1/NCEPDEV/stmp4}
export PTMP=${PTMP:-/scratch1/NCEPDEV/stmp2}

## executables/scripts
export SIGHDR=${SIGHDR:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/util/exec/global_sighdr}
export SFCHDR=${SFCHDR:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/util/exec/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/util/exec/nemsio_get}
export APRUN=${APRUN:-`which srun`}
export NDATE=${NDATE:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/util/exec/ndate}
export MDATE=${MDATE:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/util/exec/mdate}

## model-specific input directories
export DATADIR=${DATADIR:-/scratch1/NCEPDEV/swpc/WAM-IPE_DATA/WAM_FIX} # contains fix files and grids
export WAMINDIR=${WAMINDIR:-/scratch1/NCEPDEV/swpc/data/wam} # time-varying F10.7 and Kp
export PARAMETER_PATH=${PARAMETER_PATH:-/scratch1/NCEPDEV/swpc/WAM-IPE_DATA/INPUT_PARAMETERS} # more time-varying F10.7, Kp, auroral power, etc.

## output directories
export PLOT_DIR=${PLOT_DIR:-/scratch1/NCEPDEV/swpc/wam-ipe_regression-plots}

## SLURM stuff
export SCHEDULER_SUB=${SCHEDULER_SUB:-'sbatch'}
export SCHEDULER=${SCHEDULER:-'#SBATCH'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -J ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -A ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -t ${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}/fcst.%j'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -n ${TASKS}'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -q ${QUEUE}'}
export SLURM_UMASK=022
