#!/bin/bash

## IPE
export VALID_IPE_PET=($(seq 1 160))

# filename config, default format is $*NAME.YYYYMMDDHHmm these days, but we pray for NetCDF output
export PLASMANAME=${PLASMANAME:-IPE_State.apex}
export IPEBASESEARCH=IPE_State.apex.

## model options
export DELTIM_IPE=${DELTIM_IPE:-180} # IPE timestep
export IPEFREQ=${IPEFREQ:-3600} # output frequency, default to hourly

## IO
export IPE_IC_DIR=${IPE_IC_DIR:-$IC_DIR}
export IPER=${IPER:-$RESTARTDIR/iper}

export IPEGRIDFILENAME=${IPEGRIDFILENAME:-"IPE_Grid.h5"}
export IPEGRID=${IPEGRID:-${IPE_IC_DIR}/$IPEGRIDFILENAME}  # filename might vary over time and by machine
export GRIDDIR=${GRIDDIR:-$IPE_IC_DIR} # where IPE grid is defined
export HWMPATH=${HWMPATH:-$IPE_IC_DIR} # binary coefficient files for horizontal wind model
