#!/bin/bash

## NEMS executable
if [ $NEMS = .false. ] ; then
  # need to handle theia/wcoss/pleiades and parallel/serial
  export FCSTEXEC=${FCSTEXEC:-$IPEEXEC/ipe}
else
  export FCSTEXEC=${FCSTEXEC:-$EXECGLOBAL/NEMS.x}
fi

## WAM petlist for NEMS
export atm_petlist_bounds=${atm_petlist_bounds:-"0 $((NPROCGSM-1))"}

## input/output stuff specific to WAM
export FIX_IDEA=${FIX_IDEA:-$DATADIR/WAM_gh_l150} # global_idea* fix files
export RT_WAM=${RT_WAM:-$COMPSETDIR/RT_WAM}          # idea input files
export GRIDSDIR=${GRIDSDIR:-$DATADIR/MED_SPACEWX/gsm%wam%T62_ipe%80x170} # also contains IPE grids

## NEMS-WAM settings that may not be the same defaults as in exglobal_fcst_nems.sh
if [ $IDEA = .true. ] ; then
  export LEVS=${LEVS:-150}     # model levels
else
  export LEVS=${LEVS:-64}
fi
export DELTIM=${DELTIM:-60} # gsm timestep
export DTPHYS=${DTPHYS:-$DELTIM} # physics timestep
export IAER=${IAER:-111}     # some aerosol settings in troposphere and stratosphere
export ISOL=${ISOL:-1}       # solar constant variability
export ICO2=${ICO2:-2}       # CO2 variability
export NGPTC=${NGPTC:-8}     # some kind of reproducibility thing, not too sure
export NTRAC=${NTRAC:-5}     # additional WAM tracers
export LEVR=${LEVR:-90}      # levels to compute radiation over

#                       N2 ,    H2O,     O3,        CLW,    O,      O2
CPIlist=${CPIlist:-" 1039.645, 1846.0, 820.2391,    0.0, 1299.185, 918.0969"}
 RIlist=${RIlist:-"  296.8034, 461.50, 173.2247,    0.0,  519.674, 259.837 "}
export TRACERVARS="RI=$RIlist,CPI=$CPIlist,"

export HEIGHT_DEPENDENT_G=${HEIGHT_DEPENDENT_G:-.true.}

## Kp settings
#export F107_KP_SIZE=${F107_KP_SIZE:-4800}
#export F107_KP_DATA_SIZE=${F107_KP_DATA_SIZE:-56}
#export F107_KP_SKIP_SIZE=${F107_KP_SKIP_SIZE:-0}
#export F107_KP_INTERVAL=${F107_KP_INTERVAL:-10800}
