#!/bin/bash

search_dir=${search_dir:-"/gpfs/dell1/nco/ops/com/wfs/para/"}
if [ $CDATE = "latest" ] ; then
    file=$(find $search_dir -type f -iname "wfs.t*z.atmanl" 2>/dev/null | sort | tail -n 1)
    export CDATE=$($SIGHDR $file idate)
fi

GDATE=$($NDATE -6 $CDATE)
IDATE=$($MDATE -$((3*60)) ${CDATE}00)

cyc=${CDATE:8:2}
PDY=${CDATE::8}
gcyc=${GDATE:8:2}
gPDY=${GDATE::8}

cp $search_dir/wdas.$gPDY/$gcyc/wdas.t${gcyc}z.atmf03 $ROTDIR/sigf03.$GDATE
cp $search_dir/wdas.$gPDY/$gcyc/wdas.t${gcyc}z.atmf06 $ROTDIR/sigf06.$GDATE
cp $search_dir/wfs.$PDY/$cyc/wfs.t${cyc}z.atmanl    $ROTDIR/siganl.$CDATE
cp $search_dir/wfs.$PDY/$cyc/wfs.t${cyc}z.sfca03    $ROTDIR/sfca03.$CDATE
cp $search_dir/wfs.$PDY/$cyc/wfs.t${cyc}z.IPE_State.apex.$IDATE.h5 $ROTDIR/IPE_State.apex.$IDATE.h5
