#!/bin/bash

### PLEIADES SETUP ###

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-s1452}
export QUEUE=${QUEUE:-devel}

## initialize modules
. /usr/local/lib/init/global.profile
module load comp-intel mpi-sgi/mpt

## computational stuff
export TPN=${TPN:-16}
export MPICH_FAST_MEMCPY=${MPICH_FAST_MEMCPY:-'ENABLE'}
export MPI_BUFS_PER_PROC=${MPI_BUFS_PER_PROC:-2048}
export MPI_BUFS_PER_HOST=${MPI_BUFS_PER_HOST:-2048}
export MKL_NUM_THREADS=${MKL_NUM_THREADS:-1}

## system directories
export STMP=${STMP:-/nobackupp8/$LOGNAME/scrub/stmp}
export PTMP=${PTMP:-/nobackupp8/$LOGNAME/scrub/ptmp}

## executables/scripts
export SIGHDR=${SIGHDR:-/nobackupp8/dtkleist/save/ncep/nwprod/exec/global_sighdr}
export SFCHDR=${SFCHDR:-/nobackupp8/dtkleist/save/ncep/nwprod/exec/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/nobackupp8/akubaryk/save/nems/util/nemsio_get}
export APRUN=${APRUN:-`which mpiexec_mpt`}
export NDATE=${NDATE:-/nobackupp8/akubaryk/save/gfs/Q1FY15/projects/verif/nwprod/util/exec/ndate}
export MDATE=${MDATE:-/nobackupp8/akubaryk/save/gfs/Q1FY15/projects/verif/nwprod/util/exec/mdate}

## model-specific input directories
export DATADIR=${DATADIR:-/nobackup/akubaryk/save/IPE_DATA/data} # contains fix files and grids
export WAMINDIR=${WAMINDIR:-/nobackup/akubaryk/data/wam} # time-varying F10.7 and Kp

## PBS stuff
export SCHEDULER_SUB=${SCHEDULER_SUB:-'qsub'}
export SCHEDULER=${SCHEDULER:-'#PBS'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -N ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -A ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -l walltime=${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}/fcst.%J'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -e ${ROTDIR}/fcst.%J'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -l select=${NODES}:ncpus=${TASKPN}:model=san'}
export SUBFLAG7=${SUBFLAG7:-'$SCHEDULER -q ${QUEUE}'}
export SUBFLAG8=${SUBFLAG8:-'$SCHEDULER -W umask=027'}
