#!/bin/bash

# defining some things for the restart files
export NEMSIO_IN=.true.
export SIGIO_IN=.false.
export SIGI=$RESTARTDIR/sigr1
export SIGI2=$RESTARTDIR/sigr2
export SFCI=$RESTARTDIR/sfcr
export GRDI=$RESTARTDIR/grdr1
export GRDI2=$RESTARTDIR/grdr2
export PLASI=`readlink -f $RESTARTDIR/iper`
export CIPEDATE=`basename $PLASI | cut -d'.' -f 3`

# altering FHINI and FHMAX
export FHINI=`$NEMSIOGET $GRDR1 nfhour | tr -s ' ' | cut -d' ' -f 3`
export FHROT=$FHINI
export FHMAX=$((10#$FHINI+10#$FHMAX)) # 10# allows for a leading zero
