#!/bin/bash

export SWIO=${SWIO:-.false.}

if [[ $SWIO = .true. ]] ; then
  if [[ $WAM_IPE_COUPLING = .true. ]] ; then
    export SWIO_MODELS=${SWIO_MODELS:-"IO AIO"}
    export IO_PREFIX=${IO_PREFIX:-"ipe"}
    export IO_CADENCE=${IO_CADENCE:-"3600"}
    export AIO_PREFIX=${AIO_PREFIX:-"wam"}
    export AIO_CADENCE=${AIO_CADENCE:-"3600"}
  else
    export SWIO_MODELS=${SWIO_MODELS:-"AIO"}
    export AIO_PREFIX=${AIO_PREFIX:-"wam"}
    export AIO_CADENCE=${AIO_CADENCE:-"3600"}
  fi
fi
