#!/bin/bash

export SWIO=${SWIO:-.false.}

if [[ $SWIO = .true. ]] ; then
  if [[ $WAM_IPE_COUPLING = .true. ]] ; then
    export SWIO_MODELS=${SWIO_MODELS:-"IIO10 AIO10 IIO05 AIO05"}
    export IIO05_PREFIX=${IIO05_PREFIX:-"ipe05"}
    export IIO10_PREFIX=${IIO10_PREFIX:-"ipe10"}
    export AIO05_PREFIX=${AIO05_PREFIX:-"wam05"}
    export AIO10_PREFIX=${AIO10_PREFIX:-"wam10"}
    export IIO05_CADENCE=${IIO05_CADENCE:-"300"}
    export IIO10_CADENCE=${IIO10_CADENCE:-"600"}
    export AIO05_CADENCE=${AIO05_CADENCE:-"300"}
    export AIO10_CADENCE=${AIO10_CADENCE:-"600"}
  else
    export SWIO_MODELS=${SWIO_MODELS:-"AIO05 AIO10"}
    export AIO05_PREFIX=${AIO05_PREFIX:-"wam05"}
    export AIO05_CADENCE=${AIO05_CADENCE:-"300"}
    export AIO10_PREFIX=${AIO10_PREFIX:-"wam10"}
    export AIO10_CADENCE=${AIO10_CADENCE:-"600"}
  fi
fi
