#!/bin/bash

### THEIA SETUP ###

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-swpc}
export QUEUE=${QUEUE:-debug}

## initialize modules
. /apps/lmod/lmod/init/bash
module load intel impi slurm

## computational stuff
export TPN=${TPN:-24}
export MPICH_FAST_MEMCPY=${MPICH_FAST_MEMCPY:-'ENABLE'}
export MPI_BUFS_PER_PROC=${MPI_BUFS_PER_PROC:-2048}
export MPI_BUFS_PER_HOST=${MPI_BUFS_PER_HOST:-2048}
export MKL_NUM_THREADS=${MKL_NUM_THREADS:-1}

## system directories
export STMP=${STMP:-/scratch4/NCEPDEV/stmp4}
export PTMP=${PTMP:-/scratch4/NCEPDEV/stmp3}

## executables/scripts
export SIGHDR=${SIGHDR:-/scratch4/NCEPDEV/global/save/Shrinivas.Moorthi/para/sorc/global_sighdr.fd/global_sighdr}
export SFCHDR=${SFCHDR:-/scratch4/NCEPDEV/global/save/Shrinivas.Moorthi/para/sorc/global_sfchdr.fd/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/scratch4/NCEPDEV/nems/save/Jun.Wang/nems/util/nemsio_get}
export APRUN=${APRUN:-`which srun`}
export NDATE=${NDATE:-/scratch3/NCEPDEV/nwprod/util/exec/ndate}
export MDATE=${MDATE:-/scratch3/NCEPDEV/swpc/save/Adam.Kubaryk/util/mdate.fd/mdate}

## model-specific input directories
export DATADIR=${DATADIR:-/scratch4/NCEPDEV/nems/noscrub/emc.nemspara/RT/WAM-IPE/WAM-IPE_NEMS201606-20170302/data} # contains fix files and grids
export WAMINDIR=${WAMINDIR:-/scratch3/NCEPDEV/swpc/data/wam} # time-varying F10.7 and Kp
export PARAMETER_PATH=${PARAMETER_PATH:-/scratch3/NCEPDEV/swpc/noscrub/Adam.Kubaryk/WAM-IPE_INPUT_PARAMETERS} # more time-varying F10.7, Kp, auroral power, etc.

## output directories
export PLOT_DIR=${PLOT_DIR:-/scratch3/NCEPDEV/swpc/noscrub/wam-ipe_regression-plots}

## SLURM stuff
export SCHEDULER_SUB=${SCHEDULER_SUB:-'sbatch'}
export SCHEDULER=${SCHEDULER:-'#SBATCH'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -J ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -A ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -t ${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}/fcst.%j'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -n ${TASKS}'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -q ${QUEUE}'}
export SLURM_UMASK=022
