#!/bin/bash
QUILTING=${QUILTING:-.true.}
### DYNVARS
# set namelist options for WAM that don't match defaults or are not set in exglobal_fcst_nems.sh
liope=${liope:-$QUILTING}
quamon=${quamon:-.false.}
sigio_out=${SIGIO_OUT:-.true.}
shuff_lats_a=${shuff_lats_a:-.true.}
hdif_fac=${hdif_fac:-1.0}
hdif_fac2=${hdif_fac2:-1.0}
settls_dep3ds=${settls_dep3ds:-.false.}
settls_dep3dg=${settls_dep3dg:-.false.}
redgg_a=${redgg_a:-.true.}
gg_tracers=${gg_tracers:-.false.}
sl_epsln=${sl_epsln:-0.01}
ref_temp=${ref_temp:-300.0}
yhalo=${yhalo:-10}
phigs_d=${phigs_d:-60.0}
ldfi_spect=${ldfi_spect:-.true.}
cdamp=${cdamp:-'20000.0,1.5'}
k2o=${k2o:-150}
lsidea=${IDEA:-.true.}
ref_pres=${ref_pres:-101.325}
nemsio_in=${NEMSIO_IN:-.false.}
nemsio_out=${NEMSIO_OUT:-.false.}
zflxtvd=${zflxtvd:-.false.}

# build list of variables
dynvars="sigio_out shuff_lats_a hdif_fac hdif_fac2 settls_dep3ds settls_dep3dg redgg_a"
dynvars="$dynvars gg_tracers sl_epsln ref_temp yhalo phigs_d ldfi_spect cdamp zflxtvd lsidea"
dynvars="$dynvars nemsio_in nemsio_out"

# put them in the namelist variable, passed to exglobal_fcst_nems.sh
for var in $dynvars ; do
	eval val=\$$var
	export DYNVARS="$var=$val,$DYNVARS"
done

### PHYVARS
# set namelist options for WAM that don't match defaults or are not set in exglobal_fcst_nems.sh
liope=${liope:-$QUILTING}
nemsio_out=${NEMSIO_OUT:-.false.}
ras=${ras:-.false.}
random_clds=${random_clds:-$ras}
mstrat=${mstrat:-$ras}
shal_cnv=${shal_cnv:-`if [ $ras = .true. ] ; then echo ".false." ; else echo ".true." ; fi`}
ctei_rm=${ctei_rm:-`if [ $ras = .true. ] ; then echo "0.60,0.23" ; else echo "10.0,10.0" ; fi`}
dlqf=${dlqf:-`if [ $ras = .true. ] ; then echo "0.5,0.5" ; else echo "0.5,0.5" ; fi`}
zhao_mic=${zhao_mic:-.true.}
lsm=${lsm:-1}
old_monin=${old_monin:-.false.}
imfdeepcnv=${imfdeepcnv:-1}
imfshalcnv=${imfshalcnv:-1}
shuff_lats_r=${shuff_lats_r:-.true.}
ialb=${ialb:-0}
pre_rad=${pre_rad:-.false.}
iovr_lw=${iovr_lw:-1}
iovr_sw=${iovr_sw:-1}
isubc_lw=${isubc_lw:-2}
isubc_sw=${isubc_sw:-2}
ictm=${ictm:-0}
use_ufo=${use_ufo:-.false.}
ldiag3d=${ldiag3d:-.false.}
#ldiag3d=${ldiag3d:-.true.}
ncw=${ncw:-'200,25'}
crtrh=${crtrh:-'0.85,0.85,0.85'}
flgmin=${flgmin:-'0.150,0.200'}
cnvgwd=${cnvgwd:-.false.}
cgwf=${cgwf:-'0.1,0.1'}
ccnorm=${ccnorm:-.false.}
mom4ice=${mom4ice:-.false.}
a2oi_out=${a2oi_out:-.false.}
ngrid_a2oi=${ngrid_a2oi:-48}
cplflx=${cplflx:-.false.}
lgoc3d=${lgoc3d:-.false.}
nsout=${nsout:-0} # output WAM every timestep
trans_trac=${trans_trac:-.true.}
cal_pre=${cal_pre:-.false.}
bkgd_vdif_m=${bkgd_vdif_m:-1.0}
bkgd_vdif_h=${bkgd_vdif_h:-1.0}
bkgd_vdif_s=${bkgd_vdif_s:-1.0}
climate=${climate:-.false.}
psautco=${psautco:-'6.0e-4,3.0e-4'}
prautco=${prautco:-'2.0e-4,1.0e-4'}
evpco=${evpco:-2.0e-5}
wminco=${wminco:-'0.0e-5,1.0e-5'}
ccwf=${ccwf:-'1.0,1.0'}
cdmbgwd=${cdmbgwd:-'1.0,1.0'}
grid_aldata=${grid_aldata:-.false.}
sfcio_out=${sfcio_out:-.true.}
semilag=${semilag:-.false.}
redrag=${redrag:-.false.}
hybedmf=${hybedmf:-.false.}
dspheat=${dspheat:-.false.}
pdfcld=${pdfcld:-.false.}
shcnvcw=${shcnvcw:-.false.}
fixtrc=${fixtrc:-'.false.,.false.,.false.'}
gg_tracers=${gg_tracers:-.false.}
output_jh_integral=${output_jh_integral:-.false.}

phyvars="nemsio_out ras random_clds mstrat shal_cnv ctei_rm dlqf zhao_mic lsm old_monin"
phyvars="$phyvars imfdeepcnv imfshalcnv shuff_lats_r ialb pre_rad iovr_lw iovr_sw isubc_lw isubc_sw"
phyvars="$phyvars ictm use_ufo ldiag3d ncw crtrh flgmin cnvgwd cgwf ccnorm mom4ice a2oi_out ngrid_a2oi"
phyvars="$phyvars cplflx lgoc3d nsout trans_trac cal_pre bkgd_vdif_m bkgd_vdif_h bkgd_vdif_s climate"
phyvars="$phyvars psautco prautco evpco wminco ccwf cdmbgwd grid_aldata sfcio_out semilag redrag"
phyvars="$phyvars hybedmf dspheat pdfcld shcnvcw fixtrc gg_tracers nemsio_in output_jh_integral"

# put them in the namelist variable, passed to exglobal_fcst_nems.sh
for var in $phyvars ; do
	eval val=\$$var
	export PHYVARS="$var=$val,$PHYVARS"
done
