#!/bin/bash
### WCOSS PHASE 3 SETUP ###

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-SPACE-T2O}
export QUEUE=${QUEUE:-dev}

## initialize modules
. /usrx/local/prod/lmod/lmod/init/bash
module load lsf/10.1 ips/18.0.1.163 prod_util/1.1.3

## computational stuff
export TPN=${TPN:-28}

## system directories
export STMP=${STMP:-/gpfs/dell2/stmp}
export PTMP=${PTMP:-/gpfs/dell2/ptmp}

## executables/scripts
export SIGHDR=${SIGHDR:-/gpfs/dell2/swpc/noscrub/swpc.spacepara/svn/gfs/branches/global_shared.v14.0.0/exec/global_sighdr}
export SFCHDR=${SFCHDR:-/gpfs/dell2/swpc/noscrub/swpc.spacepara/svn/gfs/branches/global_shared.v14.0.0/exec/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/gpfs/dell2/swpc/noscrub/Adam.Kubaryk/util/exec/nemsio_get}
export APRUN=${APRUN:-`which mpirun`}
export NDATE=${NDATE:-/nwprod/util/exec/ndate} # these come from prod_util
export MDATE=${MDATE:-/nwprod/util/exec/mdate} # these come from prod_util

## model-specific input directories
export DATADIR=${DATADIR:-/gpfs/dell2/swpc/noscrub/Adam.Kubaryk/RT/WAM-IPE/WAM-IPE_NEMS201606-20170302/data}
if [[ -d /gpfs/gp1/swpc/noscrub/prod/data_transfer_in/wam ]] ; then
  export WAMINDIR=${WAMINDIR:-/gpfs/gp1/swpc/noscrub/prod/data_transfer_in/wam} # time-varying F10.7 and Kp -- realtime not mirrored on phase 3 yet
else
  export WAMINDIR=${WAMINDIR:-/gpfs/tp1/swpc/noscrub/prod/data_transfer_in/wam}
fi
export PARAMETER_PATH=${PARAMETER_PATH:-/gpfs/dell2/swpc/noscrub/Adam.Kubaryk/WAM-IPE_INPUT_PARAMETERS}

## bsub stuff
# submit.sh will take however many SUBFLAG variables you want to define but,
# critically: only as long as they are consecutively numbered. once it finds
# one that is undefined, it will not print any more
export SCHEDULER_SUB=${SCHEDULER_SUB:-"bsub"}
export SCHEDULER=${SCHEDULER:-'#BSUB'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -J ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -P ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -W ${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}/fcst.%J'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -e ${ROTDIR}/fcst.%J'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -n ${TASKS}'}
export SUBFLAG7=${SUBFLAG7:-'$SCHEDULER -q ""${QUEUE}""'}
export SUBFLAG8=${SUBFLAG8:-'$SCHEDULER -R span[ptile=${TPN}]'}
export SUBFLAG9=${SUBFLAG9:-'$SCHEDULER -R affinity[core\(1\):distribute=balance]'}

