#!/bin/bash
### WCOSS PHASE 1 & PHASE 2 SETUP ###
## remains untested on phase 1...

## in order to enter this file we need to have completed detect_machine, which gives us $PEX
## no other variable is assumed

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-SPACE-T2O}
export QUEUE=${QUEUE:-debug2}

## initialize modules
. /usrx/local/Modules/default/init/bash
module load lsf ics

## computational stuff
if [ $PEX -eq 2 ] ; then # PHASE 2, 24ppn, 64GB RAM/node
 export TPN=${TPN:-24}
else                     # PHASE 1, 16ppn, 32GB RAM/node??
 export TPN=${TPN:-16}
fi

export MKL_NUM_THREADS=${MKL_NUM_THREADS:-1}
export MKL_CBWR=${MKL_CBWR:-AVX}
export MP_MPILIB=${MP_MPILIB:-mpich2}
export SAVE_ALL_TASKS=${SAVE_ALL_TASKS:-yes}
export PROFILE_BY_CALL_SITE=${PROFILE_BY_CALL_SITE:-yes}
export MP_EUIDEVICE=${MP_EUIDEVICE:-min}
export MP_EUILIB=${MP_EUILIB:-us}
export MPICH_ALLTOALL_THROTTLE=${MPICH_ALLTOALL_THROTTLE:-0}
export MP_SINGLE_THREAD=${MP_SINGLE_THREAD:-yes}
export VPROF_PROFILE=${VPROF_PROFILE:-no}
export MP_COREFILE_FORMAT=${MP_COREFILE_FORMAT:-'lite'}

## system directories
export STMP=${STMP:-/stmpp$PEX}
export PTMP=${PTMP:-/ptmpp$PEX}

## executables/scripts
export SIGHDR=${SIGHDR:-/nwprod/exec/global_sighdr}
export SFCHDR=${SFCHDR:-/nwprod/exec/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/nwprod/ngac.v1.0.2/exec/nemsio_get}
export APRUN=${APRUN:-`which mpirun.lsf`}
export NDATE=${NDATE:-/nwprod/util/exec/ndate}
export MDATE=${MDATE:-/nwprod/util/exec/mdate}

## model-specific input directories
export DATADIR=${DATADIR:-/nems/noscrub/emc.nemspara/RT/WAM-IPE/WAM-IPE_NEMS201606-20170131/data} # contains fix files and other stuff maybe??
export WAMINDIR=${WAMINDIR:-/swpc/noscrub/prod/data_transfer_in/wam} # time-varying F10.7 and Kp
export PARAMETER_PATH=${PARAMETER_PATH:-/gpfs/hps3/emc/global/noscrub/Adam.Kubaryk/WAM-IPE_INPUT_PARAMETERS}

## bsub stuff
# submit.sh will take however many SUBFLAG variables you want to define but,
# critically: only as long as they are consecutively numbered. once it finds
# one that is undefined, it will not print any more
export SCHEDULER_SUB=${SCHEDULER_SUB:-"bsub"}
export SCHEDULER=${SCHEDULER:-'#BSUB'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -J ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -P ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -W ${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}/fcst.%J'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -e ${ROTDIR}/fcst.%J'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -n ${TASKS}'}
export SUBFLAG7=${SUBFLAG7:-'$SCHEDULER -q ""${QUEUE}""'}
export SUBFLAG8=${SUBFLAG8:-'$SCHEDULER -a poe'}
export SUBFLAG9=${SUBFLAG9:-'$SCHEDULER -x'}
export SUBFLAG10=${SUBFLAG10:-'$SCHEDULER -network type=sn_all:mode=US'}
export SUBFLAG11=${SUBFLAG11:-'$SCHEDULER -R span[ptile=${TPN}]'}
