#!/bin/bash
### WCOSS2 SETUP ###

## some lsf/user defaults, should be loaded already but need some defaults just in case
export ACCOUNT=${ACCOUNT:-"WFS-DEV"}
export QUEUE=${QUEUE:-"dev"}

## initialize modules
module reset
module load PrgEnv-intel/8.1.0
module load craype/2.7.8
module load intel/19.1.3.304
module load cray-mpich/8.1.7
module load cray-pals/1.0.12
## computational stuff
export TPN=${TPN:-128}

## system directories
export STMP=${STMP:-/lfs/h1/swpc/stmp}
export PTMP=${PTMP:-/lfs/h1/swpc/ptmp}

## executables/scripts
export SIGHDR=${SIGHDR:-/lfs/h1/swpc/wam/noscrub/Adam.Kubaryk/wam-ipe_workflow/sorc/wamipe_utils.fd/exec/global_sighdr}
export SFCHDR=${SFCHDR:-/lfs/h1/swpc/wam/noscrub/Adam.Kubaryk/wam-ipe_workflow/sorc/wamipe_utils.fd/exec/global_sfchdr}
export NEMSIOGET=${NEMSIOGET:-/lfs/h1/swpc/wam/noscrub/Adam.Kubaryk/wam-ipe_workflow/sorc/wamipe_utils.fd/exec/nemsio_get}
export APRUN=${APRUN:-`which mpiexec     2>/dev/null`}
export NDATE=${NDATE:-/apps/ops/prod/nco/core/prod_util.v2.0.8/exec/ndate}
export MDATE=${MDATE:-/apps/ops/prod/nco/core/prod_util.v2.0.8/exec/mdate}

## model-specific input directories
export DATADIR=${DATADIR:-/lfs/h1/swpc/wam/noscrub/Adam.Kubaryk/WAM_FIX}
export PARAMETER_PATH=${PARAMETER_PATH:-/lfs/h1/swpc/wam/noscrub/Adam.Kubaryk/WAM-IPE_INPUT_PARAMETERS}
export DCOM=${DCOM:-/lfs/h1/ops/canned/dcom}
## bsub stuff
# submit.sh will take however many SUBFLAG variables you want to define but,
# critically: only as long as they are consecutively numbered. once it finds
# one that is undefined, it will not print any more
export SCHEDULER_SUB=${SCHEDULER_SUB:-"qsub"}
export SCHEDULER=${SCHEDULER:-'#PBS'}
export SUBFLAG1=${SUBFLAG1:-'$SCHEDULER -N ${JOBNAME}'}
export SUBFLAG2=${SUBFLAG2:-'$SCHEDULER -A ${ACCOUNT}'}
export SUBFLAG3=${SUBFLAG3:-'$SCHEDULER -l walltime=${WALLCLOCK}'}
export SUBFLAG4=${SUBFLAG4:-'$SCHEDULER -o ${ROTDIR}'}
#export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -e ${ROTDIR}'}
export SUBFLAG5=${SUBFLAG5:-'$SCHEDULER -j oe'}
export SUBFLAG6=${SUBFLAG6:-'$SCHEDULER -l select=1:ncpus=${TASKS}:mem=120G'}
export SUBFLAG7=${SUBFLAG7:-'$SCHEDULER -q ${QUEUE}'}

